{% extends 'base.html' %}
{% load honeypot %}

{% block head_title %}Contact Us{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <h1 class="mb-4">Fill the form. It's easy.</h1>
                <form action="{% url 'contact' %}" enctype="multipart/form-data" class="border-end pe-5 mb-5" method="post">
                    {% csrf_token %}
                    {% render_honeypot_field "phone" %}
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Your Name">
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <textarea class="form-control" name="message" cols="30" rows="9" placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="text-center alert alert-{{ message.tags }}">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
            <div class="col-lg-4 ml-auto">
                <h3 class="mb-4">Let's talk about everything.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil deleniti itaque similique magni. Magni, laboriosam perferendis maxime!</p>
                <p><a href="#">Read more</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
